html
  head
    title= kirja.Nimi
  body
    h1= kirja.Nimi
    table
      tbody
        tr
          td
          td= kirja.Nimi
          td= kirja.Tekija
          td= kirja.Vuosi
          td= kirja.Sivut