html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/style.css')
    meta(name="description" content=process.env.description)
    meta(name="keywords" content=process.env.keywords)
    meta(name="author" content=process.env.author)
    meta(name="robots" content=process.env.robots)
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    body.container
  div.text-center
    h1 Piraatti Kirjasto 
    hr
    input#myInput(type='text' onkeyup='' placeholder='Etsi kirjaa..')
    br
  br
  table#myTable.table
    thead
      tr
        each text in [ "Nimi", "Tekij채", "Vuosi", "Sivum채채r채" ]
          th=text
    tbody
      for kirja in kirjat
        ul#myUL
          tr
            td
              a(href='/kirjat/'+kirja.Id) #{kirja.Nimi}
            td= kirja.Tekija
            td= kirja.Vuosi
            td= kirja.Sivut

footer.text-center.text-black.fixed-bottom
  .container.p-4
  .text-center.p-3
    | &copy; 2022 Copyright:
    a.text-black(href='https://piraattikirjasto.com/')  Piraatti Kirjasto